@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../styles/reset.css";

/* 변수 */
:root {
  --white: #FFFFFF;
  --yellow: #FFD43E;
  --green: #3BB527;
  --red: #FF0000;
  --blue: #0475F4;
  --navy: #1C2E5D;
  --dark-gray: rgba(55, 65, 81, 1);
  --gray: rgba(80, 80, 80, 0.5);
  --light-gray: rgba(245, 245, 245, 1);

  --font-main: 'Noto Sans KR', sans-serif;
  
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
}

* {
  font-family: var(--font-main);
  color: var(--dark-gray);
}

::-webkit-scrollbar {
  display: none;
}

.overlay_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 39, 57, 0.1);
  /* background-color: var(--light-gray); 임시 셋팅 */
}

.modal_container {
  position: relative;
  width: 897px;
  height: 664px;
  outline: none;
  box-sizing: border-box;
}

.board_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 30px 0;
  overflow-y: auto;
}

.button_container {
  display: flex;
}

.bg_button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bg_button:first-child {
  background-image: url(https://dearsanta-1.s3.ap-northeast-3.amazonaws.com/letter_style_2.png);
}

.bg_button:nth-child(2) {
  background-image: url(https://dearsanta-1.s3.ap-northeast-3.amazonaws.com/letter_style_2.png);
}

/* 
.board_header {  
  width: 90%;
  margin: auto;
} */

.board_title.board_modal {
  margin-top: 10%;
  /* font-size: 32px;
  font-weight: bold; */
}

.info_container {
  display: grid;
  grid-template-areas: "user_image user_name updated_date";
  grid-template-columns: 10% 55% 35%;
  align-items: center;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-gray);
}

.user_image {
  grid-area: user_image;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user_name {
  grid-area: user_name;
  font-weight: 500;
}

.updated_date {
  grid-area: updated_date;
  color: var(--gray);
  text-align: right;
}

.board_image {
  height: 300px;
}

.content_container {
  color: var(--dark-gray);
}

.count_container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: small;
  color: rgba(0, 0, 0, 0.1);
}

.comment_input_container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px; 
  margin-bottom: 20px;
}

.comment_input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 60px;
  resize: none; /* 사용자가 크기를 조절하지 못하도록 함 */
  overflow: auto; /* 내용이 많을 경우 스크롤 막대 표시 */
}

.comment_submit {

  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comment_submit:hover {
  background-color: #fff4f4;
}

.comment {
  display: grid;
  grid-template-areas: "comment_info_container"
    "comment";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
  color: grey;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-height: 50vh;
}

.comment_info_container {
  grid-area: comment_info_container;
}

.content {
  grid-area: comment;
}