.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 39, 57, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "NotoSansKR-Bold";
    font-weight: bold;
  }
  
  .rootDisable {
    display: none;
  }
  
  .modalContainer {
    position: absolute;
    border-radius: 25px;
    width: 897px;
    height: 664px;
    animation: modal-show 2s;
    background-image: url("../assets/image/cardbg2.png");
    background-size: cover;
    margin: auto;
  }
  
  .close {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 26px;
  }
  
  .title {
    width: 95%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    color: #cd9f7e;
    font-size: 32px;
    margin-top: 25%;
  }
  
  .modalBody {
    padding: 10px 20px;
    color: #cd9f7e;
    font-size: 16px;
  }
  
  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    color: #cd9f7e;
  }
  
  .icon {
    width: 74px;
    height: 74px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    outline: 0;
    border-radius: 3px;
    color: rgb(56, 56, 63);
  }
  