.header_profile {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  height: 100%;
  margin-right: 18%;
}

.header_profile_image {
  width: 40px;
  height: 40px;
  /* border-radius: 50%;
  border: 1px solid #ccc; */
}

.header_profile_nickname {
  font-size: 1.0rem;
  font-weight: 500;
  margin-left: 1%;
}